
/*   ██▓███   ██▓ ▄▄▄       ██▀███   ██░ ██  ██▓ ▄▄▄██▀▀▀▄▄▄        #
#   ▓██░  ██▒▓██▒▒████▄    ▓██ ▒ ██▒▓██░ ██▒▓██▒   ▒██  ▒████▄      #
#   ▓██░ ██▓▒▒██▒▒██  ▀█▄  ▓██ ░▄█ ▒▒██▀▀██░▒██▒   ░██  ▒██  ▀█▄    #
#   ▒██▄█▓▒ ▒░██░░██▄▄▄▄██ ▒██▀▀█▄  ░▓█ ░██ ░██░▓██▄██▓ ░██▄▄▄▄██   #
#   ▒██▒ ░  ░░██░ ▓█   ▓██▒░██▓ ▒██▒░▓█▒░██▓░██░ ▓███▒   ▓█   ▓██▒  #
#   ▒▓▒░ ░  ░░▓   ▒▒   ▓▒█░░ ▒▓ ░▒▓░ ▒ ░░▒░▒░▓   ▒▓▒▒░   ▒▒   ▓▒█░  #
#   ░▒ ░      ▒ ░  ▒   ▒▒ ░  ░▒ ░ ▒░ ▒ ░▒░ ░ ▒ ░ ▒ ░▒░    ▒   ▒▒ ░  #
#   ░░        ▒ ░  ░   ▒     ░░   ░  ░  ░░ ░ ▒ ░ ░ ░ ░    ░   ▒     #
#             ░        ░  ░   ░      ░  ░  ░ ░   ░   ░        ░  ░ */                                                           



body                  { background-color: #222222; font-family: 'Share Tech Mono', monospace; color: #c8c8c8; overflow: hidden;}
.wrapper              { top: 50%; left: 50%; margin-top: -10%; margin-left: -20%; width: 80%; height: 60%;}
.player               { background-color: #c8c8c8; color: #222222 ;}
.nothing              {margin: 0; padding: 0; position: absolute;}


/* =^..^=   =^..^=   =^..^=    =^..^=    =^..^=    =^..^=    =^..^=   =^..^=   =^..^=   =^..^=    =^..^=    =^..^=    =^..^=    =^..^= */
input[type=range].govedo {
    width: 100px;
    margin: -1.05px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].govedo:focus {
    outline: none;
  }
  input[type=range].govedo::-webkit-slider-runnable-track {
    background: #c8c8c8;
    border: 0.1px solid #222222 
    width: 100%;
    height: 11.1px;
    cursor: pointer;
  }
  input[type=range].govedo::-webkit-slider-thumb {
    margin-top: 0.95px;
    width: 9px;
    height: 9px;
    background: #222222;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].govedo:focus::-webkit-slider-runnable-track {
    background: #c8c8c8;
  }
  input[type=range].govedo::-moz-range-track {
    background: #c8c8c8;
    border: 0.1px solid #222222 
    width: 100%;
    height: 11.1px;
    cursor: pointer;
  }
  input[type=range].govedo::-moz-range-thumb {
    width: 9px;
    height: 9px;
    background: #222222;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
  }
  input[type=range].govedo::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 0 0;
    color: transparent;
    width: 100%;
    height: 11.1px;
    cursor: pointer;
  }
  input[type=range].govedo::-ms-fill-lower {
    background: #c8c8c8;
    border: 0.1px solid #222222 
  }
  input[type=range].govedo::-ms-fill-upper {
    background: #c8c8c8;
    border: 0.1px solid #222222 
  }
  input[type=range].govedo::-ms-thumb {
    width: 9px;
    height: 9px;
    background: #222222;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range].govedo:focus::-ms-fill-lower {
    background: #c8c8c8;
  }
  input[type=range].govedo:focus::-ms-fill-upper {
    background: #c8c8c8;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range].govedo {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  